body {
  background: #fafafa;
  font-family: 'Open Sans', sans-serif;
  color: #093346;
  margin: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.profile {
  text-align: center;
}

.foto-principal {
  width: 200px;
  border: 2px solid #757575;
  border-radius: 50%;
  margin: 50px;
  box-shadow: 5px 5px 5px #908c8c;
}


h1 {
  margin-top: auto;
  margin-bottom: 0;
  color: #093346;
  font-size: 50px;
  font-style: initial;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: italic;
  color: #093346;
  font-size: 23px;
  font-weight: 100px;
}

h4 {
  margin-bottom:0;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: medium;
  font-weight: 150; 
  font-style: italic;
}
.social-links {
  text-decoration: none;
}
.icon {
  height: 30px;
  margin:10px;;
}

.jobs-list {
  list-style: none;
  padding: 0px 30px 30px 30px;
  margin-bottom: 0;
}

.footer {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  background-color:#093346;
  color:#fafafa;
  text-align: center;
}